.container{
    position: relative;
    background-image:url(./Природа.jpg) ;
}

.text-top-left {
    background-color: rgba(0, 0, 0, 0.603);
    color: rgb(247, 238, 225);
    padding: 5px;
    position: absolute;
}
img{
    position: absolute;
    width: 100%;
}


.baner {
    background-color: rgba(0, 0, 0, 0.603);
    color: rgb(247, 238, 225);
    padding: 5px;
    position: absolute;
    
   
}
