img {
  width: 100%;
}

.cont {
  position: relative;
}

.text-top-left {
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(247, 238, 225);
  position: absolute;
  left: 0;
  top: 0;
}
.text-top-right {
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(247, 238, 225);
  position: absolute;
  right: 0;
  top: 0;
}
.text-bottom-right {
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(247, 238, 225);
  position: absolute;
  right: 0;
  bottom: 0;
}
.text-bottom-left {
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(247, 238, 225);
  position: absolute;
  left: 0;
  bottom: 0;
}
.text-center {
  background-color: rgba(0, 0, 0, 0.603);
  color: rgb(247, 238, 225);
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
