main {
  display: grid;
  grid-template-areas:
    ". . ."
    ". e ."
    ". av ."
    ". ag ."
    ". n ."
    ". ln ."
    ".  p ."
    " . sb .";
  grid-template-columns: 4fr 6fr 4fr;
  grid-template-rows:25px 70px 70px 70px 70px 70px 70px 35px;
  font-size: 20px;
  text-align: center;
  height: 100vh;
  background-color: rgba(0, 129, 65, 0.466);
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
  
}

.inEmail {
  grid-area: e;
  background-color: rgba(12, 141, 19, 0.445);
  border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.inAvatar {
  grid-area: av;

  background-color: rgba(12, 141, 19, 0.445);
}

.inAge {
  grid-area: ag;
  background-color:  rgba(12, 141, 19, 0.445);
}

.inName {
  grid-area: n;
  background-color:  rgba(12, 141, 19, 0.445);
}

.inLastName {
  grid-area: ln;
  background-color:  rgba(12, 141, 19, 0.445);
}

.inPassword {
  grid-area: p;
  background-color: rgba(12, 141, 19, 0.445);
}

.subButton{
    grid-area: sb;
    background-color:   rgba(12, 141, 19, 0.445);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subButton button{
    border-radius: 15px;
    padding: 5px;
}